<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SmartDNSProxy_VPN_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="AIO_VPN_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <SmartDNSProxy_VPN_Client.Properties.Settings>
            <setting name="userLoginTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="userPasswordTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="userL2TPPassphraseTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="selectOptionProtocol" serializeAs="String">
                <value />
            </setting>
            <setting name="selectOptionPort" serializeAs="String">
                <value />
            </setting>
            <setting name="checkboxRunAtWindowsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trayIconStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxAutoReconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxKillSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectProtocol" serializeAs="String">
                <value />
            </setting>
            <setting name="selectSettingsProtocol" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedServerDns" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>250, 250</value>
            </setting>
            <setting name="CSVLastModified" serializeAs="String">
                <value />
            </setting>
            <setting name="lastCountry" serializeAs="String">
                <value>Netherlands</value>
            </setting>
            <setting name="lastServer" serializeAs="String">
                <value>Amsterdam - SmartVPN / Torrent</value>
            </setting>
            <setting name="lastConnectionMethod" serializeAs="String">
                <value>OpenVPN</value>
            </setting>
        </SmartDNSProxy_VPN_Client.Properties.Settings>
        <AIO_VPN_Client.Properties.Settings>
            <setting name="userLoginTXT" serializeAs="String">
                <value/>
            </setting>
            <setting name="userPasswordTXT" serializeAs="String">
                <value/>
            </setting>
            <setting name="userL2TPPassphraseTXT" serializeAs="String">
                <value/>
            </setting>
            <setting name="selectOptionProtocol" serializeAs="String">
                <value/>
            </setting>
            <setting name="selectOptionPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="checkboxRunAtWindowsStart" serializeAs="String">
                <value/>
            </setting>
            <setting name="trayIconStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxAutoReconnect" serializeAs="String">
                <value/>
            </setting>
        </AIO_VPN_Client.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>
